body {
	background-color: #151515;
	color: #c4c4c4;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	z-index: 10;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #151515;
	border-left: 1px solid #ffffff24;
}

::-webkit-scrollbar-thumb {
	background: #8d021f;
	border-radius: 6px;
}

::selection {
	background: #8d021f87;
}

a {
	color: inherit;
}

.button {
	background-color: #8d021f;
	padding: 0.3em 1em;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 0px 2px white inset;
	transition: box-shadow linear 0.1s;
}

.button:hover {
	box-shadow: 0px 0px 7px white inset;
}

.blinks {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#menu {
	background-color: #8d021f;
	position: fixed;
	width: 100%;
	height: 80px;
	text-align: center;
}

#menu ul {
	display: inline-flex;
	list-style: none;
	height: 100%;
	margin: 0px 0px;
	padding: 24px 0px 0px 0px;
}

#menu ul li {
	margin: 0px 8px;
	border: 2px solid #24272b8a;
	border-radius: 6px;
	width: 128px;
	height: 25px;
	cursor: pointer;
}

#tables {
	color: white;
	width: 100%;
	bottom: 80px;
	position: absolute;
	top: 80px;
	overflow-y: auto;
}

#tables table {
	width: 100%;
	border-spacing: unset;
}

#tables th {
	border: 1px solid white;
}

#tables tr:nth-child(odd) {
	background-color: #151515;
}

#tables tr:nth-child(even) {
	background-color: #242424;
}

#tables td {
	padding: 4px 8px;
}

.dataTables_filter {
    color: white !important;
}

.dataTables_filter input {
    color: white !important;
}

.profile {
	cursor: pointer;
	transition: opacity linear 0.3s;
}

.profile:hover {
	text-shadow: 0px 0px 4px white;
	text-decoration: underline;
	opacity: 0.8;
}

#progress {
	position: absolute;
	height: 7px;
	max-width: 100%;
	bottom: 81px;
	background-color: #8d021f;
	transition: width linear 0.1s, opacity ease-in-out 0.3s;
}

#console {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 80px;
	overflow-x: hidden;
	border-top: 1px solid white;
}